* {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}


/* HEADER */

/* Flou arrière-plan vidéo principale */
.mainVideo {
    filter: blur(6px);
}

.icon-slide-header:hover::before {
    content: "\F125";
}

.logo-navbar {
    width: 160px;
    height: auto;
    /* garde les proportions */
}