* {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}


/* Flou arrière-plan vidéo header */
.mainVideo {
    filter: blur(6px);
}

/* Changement icon sur hover */
.icon-slide-header:hover::before {
    content: "\F125";
}

/* Changement de couleur */
.bg-primary {
    background-color: #e38617 !important;
}

.bg-secondary {
    background-color: #272a3b !important;
}
.text-primary {
    color: #e38617 !important;
}

.text-secondary {
    color: #272a3b !important;
}

/* Grandeur icon */

.bi {
    font-size: 5em;
}